/* Add your styling for the dropdown component */

.dropdown {
    position: relative;
  }
  
  .dropdown-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    font-weight: 5  00;
    font-size: 18px;
    margin-top: 20px;
    width: 450px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00000068;
  }
  
  .icon {
    margin-left: auto;
    transition: transform 0.3s;
  }
  
  .rotate {
    transform: rotate(45deg);
  }
  
  .dropdown-content {
    display: block;
    position: relative;
    top: 5%;
    left: 0;
    width: 450px;
    padding: 10px;
    background-color: #fff;
    color: #3b3b3b;
  }
  
  .dropdown-content p {
    margin: 0;
  }
  