.product-sort{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 70px;
    /* background-color: white; */
}

.Loadmore{
    margin-bottom: 10px;
}
.Loadmore button{
     margin: 150px 0 0 0;
     width: 233px;
     height: 69px;
     border-radius: 75px;
     background-color:antiquewhite;
     font-size: 18px;
     font-weight: 500;
}
.under-construct {
    margin: 0 auto; 
    margin-left: 65%;
    max-width: 600px;
    height: 600px; 
}
.empty-category{
    background-color: #feeecd;
}
